.main__cine{
  background-image: url(../images/bgcine.jpg) ;
  section {
    div{
      .main__carousel{
        max-width:50vh;
      }
      .border-primary{
        border: solid $default-tittle !important;
      }
      max-width: 70rem;
    }
  }
}