.fontdefault{
  font-family: "Roboto", sans-serif;
  color: $default-text;
}
.parrafos{
  background-color: $background-transparente ;
}
.background-informacion{
  background-image: url(../images/bginformacion.jpg);
}