.main__musica {
  background-image: url(../images/bgmusica.jpg);
  background-repeat: round;
  section{
    div{
      div{
        .border-primary{
          border: solid $default-tittle !important;
        }
      }
    }
  }
}