.main__musica {
  background-image: url(../images/bgmusica.jpg);
  background-repeat: round;
  section{
    div{
      max-width: 70rem;
      div{
        .border-primary{
          border: solid $default-tittle !important;
        }
        img{
          max-width: 50rem;
        }
      }
    }
  }
}