.main__videojuegos{
  background-image: url(../images/bgvideojuegos.jpg);
  background-repeat: round;
  section{
    div{
      max-width: 70rem;
      div{
        div{
          div{
            .border-primary{
              border: solid $default-tittle !important;
            }
          }
        }
      }
      div{
        .border-primary{
          border: solid $default-tittle !important;
        }
        img{
          max-width: 50rem;
        }
      }
    }
  }
}